<section id="feature" class="feature">
  <div class="container">
    <div class="section-header">
      <h2>Ürün Detayları</h2>
    </div>
    <div class="feature-content">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-sm-4" *ngFor="let productDetail of productDetails">
                                <div class="single-feature">
                                    <img src="http://localhost:4200/assets/admin/img/{{productDetail.imageUrl}}" alt="feature image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="isAuth">
                        <div class="form-group text-center">
                            <label for="" class="label-control">Adet</label>
                            <input
                              type="text"
                              class="form-control text-center"
                              [(ngModel)]="quantity"
                              [ngModelOptions]="{standalone: true}"
                              value="1">
                        </div>
                        <div class="form-group">
                            <button
                              class="btn btn-primary btn-block"
                              (click)="addBasket()"
                              [disabled]="quantity <= 0">
                              Sepete Ekle
                            </button>
                        </div>
                    </div>
                </div>
    </div>
  </div>
</section>